<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
  
  <bean id="properties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="locations" value="classpath:bigbird.properties"/>
      <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
  </bean>

  <bean name="webTweetService" class="bigbird.web.WebTweetService">
    <property name="tweetService" ref="tweetService"/>
  </bean>
  
  <bean name="userService" class="bigbird.voldemort.VoldemortUserService" 
        init-method="initialize" lazy-init="false">
    <property name="storeClientFactory" ref="storeClientFactory"/>
  </bean>
  
  <bean name="tweetService" class="bigbird.voldemort.VoldemortTweetService" lazy-init="false" 
     init-method="initialize" depends-on="userService">
    <property name="storeClientFactory" ref="storeClientFactory"/>
    <property name="commandQueue" ref="commandQueue"/>
    <property name="executor" ref="tweetServiceExecutor"/>
  </bean>
  
  <bean name="tweetServiceExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    <property name="corePoolSize" value="1"/>
    <property name="maxPoolSize" value="20"/>
    <property name="queueCapacity" value="1000000"/>
    <property name="threadFactory">
        <!-- Customize thread names -->
        <bean class="org.springframework.scheduling.concurrent.CustomizableThreadFactory">
            <property name="threadGroupName" value="pool-tweet-executor"/>
            <property name="threadNamePrefix" value="tweet-executor-thread-"/>
        </bean>
    </property>
  </bean>
        
  <bean name="commandQueue" class="bigbird.voldemort.VoldemortCommandQueue" lazy-init="false" 
     init-method="initialize" destroy-method="shutdown">
    <property name="storeClientFactory" ref="storeClientFactory"/>
    <property name="commandExecutor" ref="commandExecutor"/>
    <property name="indexIncrementExecutor" ref="indexIncrementExecutor"/>
  </bean>
  
  <bean name="indexIncrementExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
      <property name="corePoolSize" value="1"/>
      <property name="maxPoolSize" value="1"/>
      <property name="queueCapacity" value="100"/>
      <property name="threadFactory">
          <!-- Customize thread names -->
          <bean class="org.springframework.scheduling.concurrent.CustomizableThreadFactory">
              <property name="threadGroupName" value="pool-index-increment"/>
              <property name="threadNamePrefix" value="index-increment-thread-"/>
          </bean>
      </property>
  </bean>
  
  <bean name="commandExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
      <property name="corePoolSize" value="1"/>
      <property name="maxPoolSize" value="50"/>
      <property name="queueCapacity" value="1000000"/>
      <property name="threadFactory">
          <!-- Customize thread names -->
          <bean class="org.springframework.scheduling.concurrent.CustomizableThreadFactory">
              <property name="threadGroupName" value="pool-async-command-queue"/>
              <property name="threadNamePrefix" value="command-queue-thread-"/>
          </bean>
      </property>
  </bean>
  
  <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
  
  <bean name="storeClientFactory" class="voldemort.client.SocketStoreClientFactory" scope="singleton">
    <constructor-arg>
      <bean class="voldemort.client.ClientConfig">
        <property name="bootstrapUrls" value="${bootstrapUrls}"/>
      </bean>
    </constructor-arg>
  </bean>
  
</beans>
